*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    text-decoration:none;
    cursor: pointer;
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900;
}

button{
    border-style: none;
    background-color: transparent;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column; 

}

.header{
    background-color: #3EBFFF;
    display: flex;
    justify-content: space-between;
    padding: 45px;
}

.head-right{
    display: flex;
    gap: 25px;
    align-items: baseline;
}

.head-right a{
    font-family: 'Barlow', sans-serif;
    color: white;
}

.head-right button{
    font-family: 'Fraunces', serif;
    background-color: white;
    padding: 15px 20px;
    border-radius: 25px;
}


.second-row img{
    height: 400px;
    max-width: 100%;
}

.orange{
    height:82vh;
    background-image: url("./images/desktop/image-header.jpg");
    background-size: cover;
    background-position:50% 75%;
    background-repeat: no-repeat;
    text-align: center;
}

.orange img{
    position: relative;
    top: 125px;
}

.orange h1{
    position: relative;
    top: 50px;
    font-size: 45px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    letter-spacing: 8px;
    color: white;
}

.container{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}
.second-row, .third-row, .fourth-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-left, .third-right{
    width: 40%;
    height: auto;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    
}


.second-right, .third-left{
    width: 50%;
    height: auto;
}

.second-right img{
    width: 100%;
    height: auto;
    display: block;
}

.second-left a{
    border-bottom: 5px solid hsl(51, 87%, 73%);
    border-radius: 5px;
}

.third-left img{
    width: 100%;
    height: auto;
    display: block;
}

.third-right a{
    border-bottom: 5px solid hsl(7, 75%, 72%);
    border-radius: 5px;
}
h2,h3,a{
    font-family: 'Fraunces', serif;
}
h2{
    font-size: 45px;
    font-weight: 900; 
    padding-bottom: 64px;
    color: hsl(212, 27%, 19%)
}
p{
    font-family: 'Barlow', sans-serif; 
    line-height: 25px;
    font-size: 19px;
    color: hsl(210, 4%, 67%);
}
.fourth-left{
    background-image: url("./images/desktop/image-graphic-design.jpg");   
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    padding-bottom: 20px;
    
}
.fourth-right{
    background-image: url("./images/desktop/image-photography.jpg");  
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    padding-bottom: 20px;
}
.fourth-left h3, p{
    position: relative;
    bottom: 50px;
    
}

.fourth-left h3{
    font-size: 25px;
    padding-bottom: 25px;
    color: hsl(167, 40%, 24%);
}
.fourth-left p{
    font-size: 18px;
    color:hsl(168, 34%, 41%);
    width: 370px;
    text-align: center;
}

.fourth-right h3,p{
    position: relative;
    bottom: 50px;
}

.fourth-right h3{
    font-size: 25px;
    padding-bottom: 25px;
    color: hsl(198, 62%, 26%);
    
}

.fourth-right p{
    width: 370px;
    text-align: center;
    color:hsl(198, 62%, 26%);
    
}

.client-testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    gap: 20px;
}

.client-testimonials h2{
    text-transform: uppercase;
    color: hsl(210, 4%, 67%);
    font-size: 18px;
    letter-spacing: 8px;
    font-weight: 700;

}

.client-testimonials p{
    color: hsl(232, 10%, 55%);
    font-size: 18px;
    
}

.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    padding: 70px;
}

.client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.client img{
    width: 70px;
    height: 70px;
    border-radius: 9999px;
    position: relative;
    bottom: 90px;
   
}

.client h3{
    font-weight: 900;
    padding: 10px;  
}

.client h5{
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
    font-size: 14px;
}

.bottom-pictures{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.picture img{
    width:100%;
    height: auto;
    display: block;
}





