*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.card{
    height: 400px;
    width: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 8px;
    
   
}

.card-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    
}

.card-detail h3,p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px; 
    color: hsl(228, 12%, 48%);  
}

.card-detail h3{
    letter-spacing: 3px;
    font-size: 12px;
    
}

.card-detail h1{
    font-family: 'Fraunces', serif;
    font-size: 35px;
    line-height: 35px;
    margin-top: 20px;
    padding-bottom: 20px;
    color: hsl(212, 21%, 14%);
}

.price{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 35px;
    margin-top: 10px;
}

.first-price{
    font-family: 'Fraunces', serif;
    font-size: 30px;
    color: hsl(158, 36%, 37%);

}

.second-price{
    text-decoration: line-through;
    color: hsl(158, 36%, 37%);

}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
    border-style: none;
    background-color: hsl(158, 36%, 37%);
    border-radius: 8px;
    color: white;
    align-self: center;
  

}

button img{
    height: 15px;
    width: 15px;
}

.image img{
    height: 400px;
    width: 325px;
    margin-top: 3px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.addCart{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}